<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.StatMapper">
    <insert id="saveOne">
        INSERT INTO stat_info (
            rid,
            date,
            data
        ) VALUES (
            #{rid},
            #{date},
            #{data}
        )
    </insert>
    <select id="list" resultType="org.example.entity.Stat">
        select
            rid,
            date,
            data
        from
            stat_info
    </select>
</mapper>