<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.mapper.ZhuboMapper">
    <insert id="saveOne">
        INSERT INTO zhubo_info (
            date,
            rid,
            name,
            avator,
            cate_id,
            cate_name,
            room_title,
            room_status,
            hn_now,
            hn_max,
            hn_total,
            fetch_times,
            hn_avg,
            hn_total_close,
            fetch_times_close,
            hn_avg_close,
            fans_num,
            start_time,
            update_time,
            expire_mark,
            duration_total,
            danmu_count,
            yc_gift_value,
            yw_gift_gx,
            gift_new_yc,
            gift_new_yw,
            gift_new_bag,
            fc,
            audience_count,
            danmu_person_count,
            gift_person_count,
            uenter_person_count,
            uenter_count,
            subscribe
        ) VALUES (
            #{date},
            #{rid},
            #{name},
            #{avator},
            #{cate_id},
            #{cate_name},
            #{room_title},
            #{room_status},
            #{hn_now},
            #{hn_max},
            #{hn_total},
            #{fetch_times},
            #{hn_avg},
            #{hn_total_close},
            #{fetch_times_close},
            #{hn_avg_close},
            #{fans_num},
            #{start_time},
            #{update_time},
            #{expire_mark},
            #{duration_total},
            #{danmu_count},
            #{yc_gift_value},
            #{yw_gift_gx},
            #{gift_new_yc},
            #{gift_new_yw},
            #{gift_new_bag},
            #{fc},
            #{audience_count},
            #{danmu_person_count},
            #{gift_person_count},
            #{uenter_person_count},
            #{uenter_count},
            #{subscribe}
        )
    </insert>
</mapper>